#root {
    background: #525E75;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0 20px;
}

html, body {
    margin: 0;
    padding: 0;
}

.textContainer {
    margin-top: -15px;
    margin-bottom: 5px;
    height: 30px;
}

#recommended {
    padding: 40px 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
}