#root {
    background: #525E75;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0 20px;
}

html,
body {
    margin: 0;
    padding: 0;
}

.textContainer {
    margin-top: -15px;
    margin-bottom: 5px;
    height: 30px;
}

#recommended {
    padding: 40px 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
}

.videoCardVideo:hover {
    cursor: pointer;
}

.videoCard {
    transition: 1s ease-in-out;
}

.videoCard:hover {
    box-shadow: rgba(196, 0, 228, 0.4) 0px 0px 5px 5px, rgba(196, 0, 228, 0.3) 0px 0px 10px 10px, rgba(196, 0, 228, 0.2) 0px 0px 15px 15px, rgba(196, 0, 228, 0.1) 0 0 20px 20px, rgba(196, 0, 228, 0.05) 0 0 45px 45px;
}

.cartButton {
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#filterSortForm {
    padding: 10px;
}

@media screen and (min-width: 720px) {
    #filterSortForm {
        display: flex;
        gap: 15px;
        padding: 10px;
    }
}